<div class="container">
    <h2>
        รายรับ
    </h2>
    <div class="card-container">
        <div class="card card-small">
            เพิ่มรายรับ
        </div>
    </div>
    <table class="table col-xs7 col-sm7 col-log-7">
        <thead>
            <tr>
                <th scope="col">ลำดับ</th>
                <th scope="col">วันที่</th>
                <th scope="col">ประเภท</th>
                <th scope="col">จำนวนเงิน</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>1/31/2019</td>
                <td>งานประจำ</td>
                <td>200,000</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>2/31/2019</td>
                <td>งานประจำ</td>
                <td>100,000</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>