<div class="container">
    <h2>
        รายรับ
    </h2>
    <div class="card-container">
        <div class="card card-small" (click)="openModal(template)">
            เพิ่มรายรับ
        </div>
    </div>
    <table class="table col-xs7 col-sm7 col-log-7">
        <thead>
            <tr>
                <th scope="col">ลำดับ</th>
                <th scope="col">วันที่</th>
                <th scope="col">ประเภท</th>
                <th scope="col">จำนวนเงิน</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let income of incomes">
                <td>{{income.id}}</td>
                <td>{{income.date | date: 'M/d/yyyy' }}</td>
                <td>{{income.incomeGroupName}}</td>
                <td>{{income.amount}}</td>
                <td>
                    <button (click)="openModal(template, income)" class="btn btn-default">
                        แก้ไข
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <form [formGroup]="incomeForm">
                <div class="form-group">
                    <div class="col-xs-12 col-12 col-md-4 form-group row">
                        <input type="text" placeholder="วันที่" class="form-control" formControlName="date" bsDatepicker>
                    </div>
                </div>

                <div class="form-group">
                <select id="incomeGroupId" formControlName="incomeGroupId" class="form-control">
                     <option value="" selected>กรุณาเลือกประเภทเงินเดือน</option>
                     <option *ngFor="let data of incomeGroup" [value]="data.id" >
                         {{data.name}}
                     </option>
                </select>
                </div>

                <div class="form-group">
                    <input placeholder="จำนวนเงิน" formControlName="amount" class="form-control">
                </div>
                <button type="submit" (click)="onSubmit()">ตกลง</button>
            </form>
        </div>
    </ng-template>
</div>